<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>AgathTaxi : Not found</title>

    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="{{ asset('bundles/nicoplhagathtaxi/css/united/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/nicoplhagathtaxi/css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/nicoplhagathtaxi/css/errors.css') }}"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset5 span4">
                <div class="box">
                    <h3>404 - Not found</h3>
                    <div class="description">
                        Cette page n'existe pas.
                        <br />
                        This page doesn't exists.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>