<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>
            Monsieur ou madame {{ params.lastName }} {{ params.firstName }} souhaite réserver
            un taxi pour le {{ params.date.format('d/m/Y') }} à {{ params.time.format('H:i') }} au départ de {{ params.start }}
            vers {{ params.destination }}.
        </p>
        <p>
            Il vous laisse ce message : {{ params.message }}
        </p>
        <p>
            Vous pouvez le joindre au {{ params.phone }}.
        </p>
    </body>
</html>