{% extends 'NicoplhAgathTaxiBundle::layout.html.twig' %}

{% block title %}{% trans %}title.booking{% endtrans %} - {{ parent() }}{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block description %}{% trans %}description.booking{% endtrans %}{% endblock %}

{% block content %}

    {% if app.session.flashbag.has('success') %}
        <div class="async-content">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form novalidate action="{{ path('booking_index') }}" method="post" class="form-contact form-inline async-content">
        {% if form.vars.errors | length %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="row-fluid">
            <div class="control-group span6 {% if form.lastName.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.lastName) }}
                    {% if form.lastName.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.lastName) }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group span6 {% if form.firstName.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.firstName) }}
                    {% if form.firstName.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.firstName) }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span6 {% if form.phone.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.phone) }}
                    {% if form.phone.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.phone) }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group span6 {% if form.email.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.email) }}
                    {% if form.email.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.email) }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span6 {% if form.start.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.start) }}
                    {% if form.start.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.start) }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group span6 {% if form.destination.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.destination) }}
                    {% if form.destination.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.destination) }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span6 {% if form.date.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.date) }}
                    {% if form.date.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.date) }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group span6 {% if form.time.vars.errors | length %}error{% endif %}">
                <div class="controls">
                    {{ form_widget(form.time) }}
                    {% if form.time.vars.errors | length %}
                        <span class="help-inline">
                            {{ form_errors(form.time) }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                {{ form_label(form.message) }}
                {% if form.message.vars.errors | length %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.message) }}
                    </div>
                {% endif %}
                {{ form_widget(form.message) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{% trans %}contact.booking.button{% endtrans %}</button>
        </div>
    </form>

{% endblock %}