{% extends 'NicoplhAgathTaxiBundle::layout.html.twig' %}

{% block description %}{% trans %}description.default{% endtrans %}{% endblock %}

{% block default_active %}active{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="well span3 offset1">
            <h3 class="text-center">{% trans %}acceuil.title{% endtrans %}</h3>
            {% trans %}acceuil.text{% endtrans %}
            <br>
            <br>
            {% trans %}acceuil.text2{% endtrans %}
        </div>
        <div class="span6 offset1 mainImg">
            <a class="thumbnail">
                <img alt="taxi" src="{{ asset('img/gallery/taxi_noir_3.png') }}">
            </a>
        </div>
    </div>

{% endblock %}