{% extends 'NicoplhAgathTaxiBundle::layout.html.twig' %}

{% block title %}{% trans %}title.links{% endtrans %} - {{ parent() }}{% endblock %}

{% block description %}{% trans %}description.links{% endtrans %}{% endblock %}

{% block links_active %}active{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span4 well">
                    <a href="http://www.capdagde.com/" target="_blank">
                        <img class="span6 links" alt="capdagde " src="{{ asset('img/gallery/logos/capdagde.jpg') }}">
                        <h4>Cap D'Agde</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.ville-agde.fr/" target="_blank">
                        <img class="span6 links" alt="agde" src="{{ asset('img/gallery/logos/agde.jpg') }}">
                        <h4>Ville D'Agde</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.beziers.aeroport.fr/" target="_blank">
                        <img class="span6 links" alt="aeroport" src="{{ asset('img/gallery/logos/aeroport.jpg') }}">
                        <h4>Aeroport Beziers</h4>
                    </a>
                </li>
            </ul><ul class="thumbnails">
                <li class="span4 well">
                    <a href="http://www.hotel-marseillan.com/richmont/hotel-richmont.html" target="_blank">
                        <img class="span4 links" alt="richmont " src="{{ asset('img/gallery/logos/richmont.jpg') }}">
                        <h4>Hotel Richmont</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.camping-laclape.com/" target="_blank">
                        <img class="span6 links" alt="laclape" src="{{ asset('img/gallery/logos/laclape.jpg') }}">
                        <h4>Camping Laclape</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.he-drink.com/" target="_blank">
                        <img class="span6 links" alt="hedrink" src="{{ asset('img/gallery/logos/hedrink.jpg') }}">
                        <h4>HE Drink</h4>
                    </a>
                </li>
            </ul>
            <ul class="thumbnails">
                <li class="span4 well">
                    <a href="http://www.cap-nat.com/" target="_blank">
                        <img class="span6 links" alt="capnat" src="{{ asset('img/gallery/logos/capnat.png') }}">
                        <h4>Cap-Nat</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.riadcapdagde.com/" target="_blank">
                        <img class="span6 links" alt="riad" src="{{ asset('img/gallery/logos/riad.png') }}">
                        <h4>Riad Cap d'Agde</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.genevievenaturisme.com/fr" target="_blank">
                        <img class="span5 links" alt="AGN" src="{{ asset('img/gallery/logos/agn.png') }}">
                        <h4>AGN immobilier</h4>
                    </a>
                </li>
            </ul>
            <ul class="thumbnails">
                <li class="span4 well">
                    <a href="http://www.centrenaturiste-oltra.fr/" target="_blank">
                        <img class="span6 links" alt="oltra" src="{{ asset('img/gallery/logos/oltra.jpg') }}">
                        <h4>Camping Oltra</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.leglamour.com/#/welcome" target="_blank">
                        <img class="span6 links" alt="glamour" src="{{ asset('img/gallery/logos/glamour.jpg') }}">
                        <h4>Le Glamour</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://2013.amnesia.fr/" target="_blank">
                        <img class="span3" alt="amnesia" src="{{ asset('img/gallery/logos/amnesia.jpg') }}">
                        <h4>Amnesia Cap d'Agde</h4>
                    </a>
                </li>
            </ul>
            <ul class="thumbnails">
                <li class="span4 well">
                    <a href="http://www.odalys-vacances.com" target="_blank">
                        <img class="span6 links" alt="odalys" src="{{ asset('img/gallery/logos/odalys.jpg') }}">
                        <h4>Odalys Vacances</h4>
                    </a>
                </li>
                <li class="span4 well">
                    <a href="http://www.gastronomicom.fr/" target="_blank">
                        <img class="span6 links" alt="oltra" src="{{ asset('img/gallery/logos/gastronomicom.jpg') }}">
                        <h4>Gastronomicom</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="gallery-modal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{% trans %}gallery.overview{% endtrans %}</h3>
        </div>
        <div class="modal-body">
            <img class="gallery-overview" src="" alt="Overview"/>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{% trans %}gallery.close{% endtrans %}</button>
        </div>
    </div>

{% endblock %}