body
{
    background: url(../img/header2.jpg) no-repeat center top;
}

@media(max-width: 979px)
{
    body
    {
        background-position: 40% top;
    }
}

.header
{
    height: 180px;
}

.languages
{
    min-width: 0;
}

#contact-map
{
    height: 400px;
}

h4
{
    text-align: center;
}
.map
{
    margin-bottom: 20px;
}

th.pkm
{
    width: 50px;
}

td.tarif, .table th.tarif
{
    text-align: center;
    vertical-align: middle;
}

li.subtitle
{
    list-style-type: none;

    position: relative;
    left: -15px;

    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

#gallery-carousel .carousel-control
{
    top: 50%;
}

#gallery-modal .modal-body
{
    max-height: none;
}

#gallery-modal .modal-body img
{
    max-height: 60%;
    min-height: 200px;
    width: auto;

    display: table;
    margin: auto;
}

@media (max-width: 767px)
{
    #gallery-modal .modal-body img
    {
        max-height: 60%;
    }
}

.contact dd
{
    margin-bottom: 10px;
}

.icon-skype
{
    background-image: url(../img/skype.png);
    background-position: 0;
    height: 16px;
    width: 16px;
}

.icon-phone
{
    background-image: url(../img/phone.png);
    background-position: 0;
    height: 16px;
    width: 16px;
}

@media(max-width: 767px)
{
    .visible-phone
    {
        display: inline-block !important;
    }
}

.well
{
    background-color: #FEF5E6;
    border: 1px solid #FFCE83;
}

.boocking
{
    margin-top: 20px;
    text-align: center;
}

footer .pull-right.nav > li
{
    padding: 10px 0px 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

form.form-contact .controls
{
    margin-bottom: 10px;
}

form.form-contact .row-fluid input
{
    width: 100%;
}

form.form-contact .message
{
    margin-top: 25px;
}

form.form-contact textarea
{
    min-height: 100px;
}

.async-content form, .async-content .alert
{
    margin-bottom: 0;
}

.async-content .form-actions
{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.modal-body .loading
{
    margin-bottom: 0;
}

#booking-modal .modal-body
{
    max-height: none;
}

footer button.pull-left
{
    float: left !important;
}

.alert ul, .controls ul
{
    list-style-type: none;
    margin-left: 0;
}

.alert ul
{
    margin-bottom: 0;
}

.tfg
{
    margin-top: 10px;
    margin-right: 10px;
}

.links
{
    height: 80px;
}

.mainImg{
    margin-bottom: 20px;
}
