{% extends '::base.html.twig' %}

{% block favicon %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
{% endblock %}

{% block title %}AgathTaxi Cap d'Agde{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="{% block meta_robots %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}"/>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/united/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/flags.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}


{% block body %}
    <div id="fb-root"></div>
    <div class="header"></div>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="pull-right nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="flag flag-{{ app.request.locale == 'en' ? 'gb' : app.request.locale }}"></i>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu languages">
                                <li class="{% if 'fr' == app.request.locale %}active{% endif %}"><a href="{{ path(app.request.get('_route'), {"_locale": "fr"}) }}"><i class="flag flag-fr"></i></a></li>
                                <li class="{% if 'en' == app.request.locale %}active{% endif %}"><a href="{{ path(app.request.get('_route'), {"_locale": "en"}) }}"><i class="flag flag-gb"></i></a></li>
                                <li class="{% if 'es' == app.request.locale %}active{% endif %}"><a href="{{ path(app.request.get('_route'), {"_locale": "es"}) }}"><i class="flag flag-es"></i></a></li>
                                <li class="{% if 'de' == app.request.locale %}active{% endif %}"><a href="{{ path(app.request.get('_route'), {"_locale": "de"}) }}"><i class="flag flag-de"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".header-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="{{ path('default_index', {'_locale': app.request.locale }) }}" class="brand">AgathTaxi</a>
                    <div class="header-collapse nav-collapse collapse">
                        <ul class="nav">
                            <li class="{% block default_active %}{% endblock %}"><a href="{{ path('default_index', {'_locale': app.request.locale }) }}">{% trans %}menu.default{% endtrans %}</a></li>
                            <li class="{% block gallery_active %}{% endblock %}"><a href="{{ path('gallery_index', {'_locale': app.request.locale }) }}">{% trans %}menu.gallery{% endtrans %}</a></li>
                            <li class="{% block infos_active %}{% endblock %}"><a href="{{ path('infos_index', { '_locale': app.request.locale }) }}">{% trans %}menu.infos{% endtrans %}</a></li>
                            <li class="{% block contact_active %}{% endblock %}"><a href="{{ path('contact_index', {'_locale': app.request.locale }) }}">{% trans %}menu.contact{% endtrans %}</a></li>
                            <li class="{% block links_active %}{% endblock %}"><a href="{{ path('links_index', {'_locale': app.request.locale }) }}">{% trans %}menu.links{% endtrans %}</a></li>
                        </ul>
                        <ul class="pull-right nav" style="margin: 10px 25px 0 0;">
                            <li>
                                <a href="https://twitter.com/intent/tweet?screen_name=AgathTaxi" class="tfg twitter-mention-button" data-lang="en">Follow @AgathTaxi</a>
                            </li>
                        </ul>
                        <ul class="pull-right nav">
                            <li>
                                <div class="tfg fb-like" data-href="https://www.facebook.com/Agathtaxi?ref=hl" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <footer class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="pull-right nav">
                        <li>AgathTaxi &copy; {{ "now"|date("Y") }}</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://maps.google.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{{ asset('js/jquery-2.0.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script type="text/javascript">
        window.___gcfg = {lang: 'fr'};

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        (function(d,s,id)
        {var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){js=d.createElement(s);
                js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
            }
        })(document, 'script', 'twitter-wjs');

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41291835-1', 'agathtaxi.com');
        ga('send', 'pageview');
    </script>
{% endblock %}
