{% extends 'NicoplhAgathTaxiBundle::layout.html.twig' %}

{% block title %}{% trans %}title.contact{% endtrans %} - {{ parent() }}{% endblock %}

{% block description %}{% trans %}description.contact{% endtrans %}{% endblock %}

{% block contact_active %}active{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row-fluid">
        <div class="span4 well">
            <h4>{% trans %}contact.title{% endtrans %}</h4>
            <dl class="contact">
                <dt>{% trans %}contact.address{% endtrans %}</dt>
                <dd>4 rue Volivire de Brassac<br>34300 Cap d'Agde</dd>
                <dt>{% trans %}contact.email{% endtrans %}</dt>
                <dd>
                    <i class="icon-envelope"></i>
                    <a href="mailto: agathtaxi@gmail.com">agathtaxi@gmail.com</a>
                </dd>
                <dt>{% trans %}contact.phone{% endtrans %}</dt>
                <dd>
                    <i class="icon-skype hidden-phone"></i>
                    <a href="callto:+33610347878" class="hidden-phone">06 10 34 78 72</a>
                    <i class="icon-phone visible-phone"></i>
                    <a href="tel:+33610347878" class="visible-phone">06 10 34 78 72</a>
                </dd>
                <dd>
                    <i class="icon-skype hidden-phone"></i>
                    <a href="callto:+33467267636" class="hidden-phone">04 67 26 76 36</a>
                    <i class="icon-phone visible-phone"></i>
                    <a href="tel:+33467267636" class="visible-phone">04 67 26 76 36</a>
                </dd>
            </dl>

        </div>
        <div class="span8 map">
            <div class="well" id="contact-map"></div>
        </div>
    </div>

    <!-- Modal -->
    <div id="booking-modal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{% trans %}contact.booking.title{% endtrans %}</h3>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active loading">
                <div class="bar" style="width: 100%;"></div>
            </div>
            <div class="async-content"></div>
        </div>
    </div>

{% endblock %}