{% extends 'NicoplhAgathTaxiBundle::layout.html.twig' %}

{% block title %}{% trans %}title.infos{% endtrans %} - {{ parent() }}{% endblock %}

{% block description %}{% trans %}description.infos{% endtrans %} - {{ parent() }}{% endblock %}

{% block infos_active %}active{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <h4>{% trans %}Infos{% endtrans %}</h4>
                <ul>
                    <li class="subtitle">{% trans %}Prestation Taxi{% endtrans %}</li>
                    <li>{% trans %}2 vehicules break grand tourisme.{% endtrans %}</li>
                    <li>{% trans %}7 / 7 toute l'année, 24h/24 l'été.{% endtrans %}</li>
                    <li>{% trans %}Transfert vers les gares.{% endtrans %}</li>
                    <li>{% trans %}Transfert vers les aéroports.{% endtrans %}</li>
                    <li>{% trans %}Transfert vers les hôtels.{% endtrans %}</li>
                    <li>{% trans %}Circuits touristiques.{% endtrans %}</li>
                    <li>{% trans %}Mise à disposition d'une journée ou plus avec chauffeur si disponible.{% endtrans %}</li>
                    <li>{% trans %}Découverte de l'Hérault.{% endtrans %}</li>
                    <li>{% trans %}Sortie restaurant ou discothèque.{% endtrans %}</li>
                </ul>
                <ul>
                    <li class="subtitle">{% trans %}Services +{% endtrans %}</li>
                    <li>{% trans %}Accueil personnalisé aux gares et aéroports.{% endtrans %}</li>
                    <li>{% trans %}Organisation de déplacements lors de différentes cérémonies.{% endtrans %}</li>
                    <li>{% trans %}Partenaire avec des groupes d'assistance.{% endtrans %}</li>
                    <li>{% trans %}Transports de personnes à mobilité réduite domicile / hôpital , clinique et centre rééducation{% endtrans %}</li>
                </ul>
                <ul>
                    <li class="subtitle">{% trans %}Langues parlées{% endtrans %}</li>
                    <li>{% trans %}Anglais{% endtrans %}</li>
                    <li>{% trans %}Espagnol{% endtrans %}</li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h4>{% trans %}Tarifs{% endtrans %}</h4>
                <ul>
                    <li>{% trans %}Prise en charge : 2,00€{% endtrans %}</li>
                    <li>{% trans %}Heure d'attente{% endtrans %}</li>
                    <li>
                        <a href="#"
                           data-toggle="tooltip"
                           data-placement="top"
                           data-original-title="{% trans %}link.bagages{% endtrans %}">
                            {% trans %}Bagages{% endtrans %}
                        </a>
                        {% trans %}: 1,10€ l'unité.{% endtrans %}
                    </li>
                    <li>
                        <a href="#"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           data-original-title="{% trans %}link.animaux{% endtrans %}">
                            {% trans %}Animaux{% endtrans %}
                        </a>
                        {% trans %}: 1,00 € par animal.{% endtrans %}
                    </li>
                    <li>
                        {% trans %}4ème personne{% endtrans %}
                    </li>
                    <li>
                        {% trans %}carte bleue{% endtrans %}
                    </li>
                </ul>
            </div>
            <div class="well">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                    <tr>
                        <th class="tarif">
                            {% trans %}Tarifs{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Nature de la prestation effectuée{% endtrans %}
                        </th>
                        <th class="pkm">
                            {% trans %}Prix au Km{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tarif">A</td>
                        <td>{% trans %}A{% endtrans %}</td>
                        <td class="tarif">0,91€</td>
                    </tr>
                    <tr>
                        <td class="tarif">B</td>
                        <td>{% trans %}B{% endtrans %}</td>
                        <td class="tarif">1,35€</td>
                    </tr>
                    <tr>
                        <td class="tarif">C</td>
                        <td>{% trans %}C{% endtrans %}</td>
                        <td class="tarif">1,82€</td>
                    </tr>
                    <tr>
                        <td class="tarif">D</td>
                        <td>{% trans %}D{% endtrans %}</td>
                        <td class="tarif">2,70€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <ul>
                    <li class="subtitle">{% trans %}Facturation{% endtrans %}</li>
                    <li>
                        {% trans %}F1{% endtrans %}
                        <ul>
                            <li>{% trans %}F11{% endtrans %}</li>
                            <li>{% trans %}F12{% endtrans %}</li>
                            <li>{% trans %}F13{% endtrans %}</li>
                            <li>{% trans %}F14{% endtrans %}</li>
                            <li>{% trans %}F15{% endtrans %}</li>
                            <li>{% trans %}F16{% endtrans %}</li>
                        </ul>
                    </li>
                    <li>
                        {% trans %}F2{% endtrans %}
                    </li>
                    <li class="subtitle">{% trans %}Tarif de nuit{% endtrans %}</li>
                    <li>
                        {% trans %}F3{% endtrans %}
                        <ul>
                            <li>{% trans %}F31{% endtrans %}</li>
                            <li>{% trans %}F32{% endtrans %}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}