{% extends 'NicoplhAgathTaxiBundle::layout.html.twig' %}

{% block title %}{% trans %}title.gallery{% endtrans %} - {{ parent() }}{% endblock %}

{% block meta_robots %}noindex{% endblock %}

{% block description %}{% trans %}description.gallery{% endtrans %}{% endblock %}

{% block gallery_active %}active{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <ul class="thumbnails">
            <li class="span5 offset1">
                <a class="thumbnail modal-trigger" href="{{ asset('img/gallery/taxi_noir_6.jpg') }}" data-target="#gallery-modal">
                    <img alt="taxi 5" src="{{ asset('img/gallery/taxi_noir_6.jpg') }}">
                </a>
            </li>
            <li class="span5">
                <a class="thumbnail modal-trigger" href="{{ asset('img/gallery/taxi_noir_7.jpg') }}" data-toggle="modal" data-target="#gallery-modal">
                    <img alt="taxi 6" src="{{ asset('img/gallery/taxi_noir_7.jpg') }}">
                </a>
            </li>
        </ul>
        <ul class="thumbnails">
            <li class="span5 offset1">
                <a class="thumbnail modal-trigger" href="{{ asset('img/gallery/taxi_noir_2.jpg') }}" data-target="#gallery-modal">
                    <img alt="taxi 1" src="{{ asset('img/gallery/taxi_noir_2.jpg') }}">
                </a>
            </li>
            <li class="span5">
                <a class="thumbnail modal-trigger" href="{{ asset('img/gallery/taxi_noir_1.jpg') }}" data-toggle="modal" data-target="#gallery-modal">
                    <img alt="taxi 2" src="{{ asset('img/gallery/taxi_noir_1.jpg') }}">
                </a>
            </li>
        </ul>
        <ul class="thumbnails">
            <li class="span5 offset1">
                <a class="thumbnail modal-trigger" href="{{ asset('img/gallery/taxi_noir_5.jpg') }}" data-target="#gallery-modal">
                    <img alt="taxi 3" src="{{ asset('img/gallery/taxi_noir_5.jpg') }}">
                </a>
            </li>
            <li class="span5">
                <a class="thumbnail modal-trigger" href="{{ asset('img/gallery/taxi_noir_4.jpg') }}" data-toggle="modal" data-target="#gallery-modal">
                    <img alt="taxi 4" src="{{ asset('img/gallery/taxi_noir_4.jpg') }}">
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="gallery-modal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans %}gallery.overview{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <img class="gallery-overview" src="" alt="Overview"/>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{% trans %}gallery.close{% endtrans %}</button>
    </div>
</div>

{% endblock %}